extends ../../layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/addSupervisor?school=上海交通大学&institution=计算机科学与技术') 添加导师
  br
  - for(var i=0;i<supervisors.length;++i)
    a(href='/SJTU/CS/'+supervisors[i].name) #{supervisors[i].name}
    br