extends layout

block content
  body
    h1(style="text-align:center;color:#666699;font-family:SimSun;font-size:45px") SCIN 学术生活圈
    div.ui.five.item.menu
      a.item 新闻
      a.item 学术人
      a.item(href="/collegelist") 导师
      a.item 圈子
      a.item(href="/signin") 我