extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/SJTU') 上海交通大学
  button(class="ui primary button") Save
  select(class="ui dropdown")
    option(value="") Gender
    option(value="1") Male
    option(value="0") Female
  div(class="ui vertical menu")
    a(href="http://www.google.com" class="item") 访问Google
    div(class="link item") Javascript 链接 