doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdn.bootcss.com/semantic-ui/2.3.1/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    
  body
    block content
