doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdn.bootcss.com/semantic-ui/2.3.1/semantic.css')
    script(src="https://cdn.bootcss.com/semantic-ui/2.3.1/semantic.js")
    script(src="https://cdn.bootcss.com/jquery/3.3.0/jquery.js")
    
    
  body
    div.container.container
      - if (success)
        div.alert.alert-success= success
      - if (error)
        div.alert.alert-error= error 
    block content
