extends ../layout

block content
    body(style="background-color:#F0F0F0")
        h3(style="text-align:center;color:#666699;font-size:35px") 学校列表
        div
            a(href="/SJTU/seiee" style="color:black;position:relative;left:45%;font-size:25px" ) 电院
            br
            br
            a(href="" style="color:black;position:relative;left:45%;font-size:25px") 机械学院
            br
            br
            a(href="" style="color:black;position:relative;left:45%;font-size:25px") 材料学院
            br
            br